<!DOCTYPE html>
<html>
    <head>
        <title>{{tabtitle}}</title>
        {{{stylesheets}}}
        <!--Meta tags-->
        <meta charset="UTF-8" />
        <meta name="author" content="{{author}}" />
        <meta property="og:url" content="https://experibassmusic.eth.limo/{{page}}" />
        <meta property="og:title" content="{{tabtitle}}" />
        <meta property="og:description" content="{{desc}}" />
        <meta property="og:type" content="website" />
        <meta property="number" content="3373" />
        <meta content="{{themecolor}}" data-react-helmet="true" name="theme-color" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="mask-icon" color="{{themecolor}}" href="/safari-pinned-tab.svg?v=1" />
        <link rel="shortcut icon" href="/favicon.ico?v=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1" />

        <!-- util -->
        <!-- imagine needing to import 10-30mb of js
            could never be me -->
        <script src="src/scripts/util.js" defer></script>

    </head>
    <body>
        {{{body}}}
    </body>
    <!-- Oi! I'm naked here!! -->
</html>