<div id="header">
    <h1>Pixelsorts</h1>
    <div id="headerlinks">
        {{!-- i really want no whitespace --}}
        <span>{{{link "home" "/"}}}</span>{{!--
        --}}<span>{{{link "more pixelsorting results & masks" "https://foxuments.experibassmusic.eth.limo/pixelsort-gens/"}}}</span>{{!--
        --}}<span>| other sorters</span>{{!--
        --}}<span>{{{link "ikatch.net" "https://ikatch.net/pixelsort"}}}</span>{{!--
        --}}<span>{{{link "jeffreythompson.org" "https://jeffreythompson.org/blog/?s=pixel+sort"}}}</span>{{!--
        --}}<span>{{{link "r/pixelsorting" "https://troddit.com/r/pixelsorting"}}}</span>
    </div>
    <hr />
</div>
<div id="gallery">
    {{{populategallery galleryImages}}}
</div>
<footer>{{{link "home" "/"}}}</footer>