<div id='header'>
    <div>
        <h1>{{tabtitle}}</h1>
        <h2>{{{wrappedlink 'home' '/'}}}</span>{{!
        }}<span>{{{wrappedlink
                'cc-by-nc-sa 4.0'
                'https://creativecommons.org/licenses/by-nc-sa/4.0'
            }}}</h2>
    </div>
    <hr />
</div>
<div id='gallery'>
    {{{populategallery galleryImages}}}
</div>
<hr />
<footer>{{{wrappedlink 'home' '/'}}}</footer>