<div id="header">
    <h1>{{tabtitle}}</h1>
    <div id="headerlinks">
        <span>{{{link "home" "/"}}}</span>
        <br><span>licensed under {{{link "cc-by-nc-sa 4.0" "https://creativecommons.org/licenses/by-nc-sa/4.0"}}}</span>
    </div>
    <hr>
</div>

<!-- TODO: move to foxuments or delete -->
<div id="gallery">
    {{{populategallery galleryImages}}}
</div>
<hr />
<footer>{{{link "home" "/"}}}</footer>