{{{header
    tabtitle
    "{{{wrappedlink 'home' '/'}}}{{{wrappedlink
                'cc-by-nc-sa 4.0'
                'https://creativecommons.org/licenses/by-nc-sa/4.0'
            }}}"
}}}
<div id='gallery'>
    {{{populategallery galleryImages}}}
</div>
<hr />
<footer>{{{wrappedlink 'home' '/'}}}</footer>